.blogs{
    height: 100vh;
}
.profile{
    border-radius: 50%;
}
.blog-image{
    width: 550px;
}
.read-btn{
    background-color: var(--red);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.read-btn:hover{
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}