.course-info{
    border-radius: 3px;
    margin: 10px;
    box-shadow: 8px 8px var(--main-color);
}
.img-div{
    position: relative;
}
.image-course{
    height: 350px;
    width: 100%;
}
.price{
    width: 30%;
    background-color: var(--red);
    color: white;
    padding: 20px;   
    
}