
.about-image{
    width:500px
}
.about-text{
    font-size: 25px;
    width: 80%;
    border-left: 3px solid var(--red);
    padding: 15px
}
.trainer-card{
    width: 400px;
    height: 200px;
    padding: 10px;
    background-color: var(--main-color);
}

.trainer-card img{
    width: 200px;
}