.nav-bar{
    background-color: var(--main-color);
    text-decoration: none;
    padding: 20px;
}
.navlink{
  text-decoration: none;
  color: white;
  margin-right: 10px;
 font-size: 10px !important;

}
.brand{
  text-decoration: none;
  color: var(--light-navy);
}
.logo{
  width: 7%;
}
.text-red{
  color: var(--red);
}
.nav-link:hover{
  color: var(--red);
}